<h2 mat-dialog-title>Provide a reason for deletion and confirm</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width" subscriptSizing="dynamic">
      <mat-label>Cancellation reason</mat-label>
      <input
        matInput
        formControlName="cancellationReason"
        placeholder="Describe why this key is no longer needed"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    type="button"
    [disabled]="form.invalid"
    (click)="confirm()"
  >
    Save
  </button>
</mat-dialog-actions>
