@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

html {
  --mdc-filled-button-container-shape: 4px;
  --mdc-outlined-button-container-shape: 4px;
  --mdc-text-button-container-shape: 4px;
  --mdc-protected-button-container-shape: 4px;
}
