@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme(
      (
        color: mat.$azure-palette,
        typography: Roboto,
        density: 0,
      )
  );
}

body {
  margin: 0;
  min-height: 100vh;
  background: #ffffff;
  color: #1f2937;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button,
input,
textarea {
  font: inherit;
}

app-employee-access-activity-page {
  .mat-mdc-text-field-wrapper {
    background: #fff;
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: #b6beca;
  }

  .mat-focused .mdc-notched-outline__leading,
  .mat-focused .mdc-notched-outline__notch,
  .mat-focused .mdc-notched-outline__trailing {
    border-color: #7b45a9 !important;
  }

  .mat-focused .mdc-floating-label {
    color: #7b45a9 !important;
  }

  .mat-sort-header-arrow {
    opacity: 1 !important;
    color: #fff;
  }
}
